.intro-inner{
  width: 100%;
  max-width: 1280px;
  height: 450px;
  margin-bottom: 168px;
  padding: 137px 0;
  background-image: url(../images/about-hero.png);
  background-repeat: no-repeat;
}

.intro-info{
  width: 100%;
  max-width: 445px;
  margin-left: 85px;
}

.intro-info__title{
  margin: 0;
  padding: 0;
  font-family: $main-family;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.intro-info__text{
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}


@media only screen and (max-width:758px){

  .intro-inner{
    padding: 108px 0;
    background-position: left -350px top 0;
    border-radius: 10px;
  }

  .intro-info{
    max-width: 398px;
    margin-left: 58px;
  }

  .intro-info__title{
    font-size: 32px;
    line-height: 40px;
  }

  .intro-info__text{
    font-size: 15px;
    line-height: 25px;
  }

}




@media only screen and (max-width:510px){

  .intro-inner{
    padding: 101px 0 87px 0;
    background-position: left -450px top 0;
    background-size: cover;
    border-radius: 10px;
  }

  .intro-info{
    max-width: 279px;
    margin: 0 auto;
  }

  .intro-info__title{
    text-align: center;
    font-size: 28px;
    line-height: 28px;
  }

  .intro-info__text{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width:420px){

  .intro-inner{
    padding: 121px 0 87px 0;
    background-position: left -530px top 0;
    background-size: cover;
    border-radius: 10px;
  }

  .intro-info{
    max-width: 279px;
    margin: 0 auto;
  }

  .intro-info__title{
    text-align: center;
    font-size: 28px;
    line-height: 28px;
  }

  .intro-info__text{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
}